
         section{
                 min-height:100vh;
                font-size:15px;
                border-radius:35px;
                }
         section{
                 display: flex;
                 text-decoration:none;
                 justify-content:center;
                 align-items:center;
                flex-direction:column;
                }
               #section-dark{
                             background-color:slategray;
                             color:white;
                            }
               #section-light{
                              background-color:grey;
                              color:white;
                             }
               #home{
                   
                      font-family:Arial, Helvetica, sans-serif;
                      background:linear-gradient(to bottom,grey,gray,gainsboro,whitesmoke);
                      color:#0f172a;
                      font-style:oblique;
                    }
             #home h1{ 
                      padding-top:12px 26px;
                      justify-content: center;
                      align-items: center;
                      display: flex;
                      font-size:70px;
                      color:#0f172a;
                     }
              #home{ 
                     min-height:100vh;
                     font-size:45px;
                   }

             .btn{
                  margin-top:20px;
                  padding:12px 24px;
                  background-color:white;
                  color:#0ea5e9;
                  text-decoration:none;
                  font-weight:bold;
                  border-radius:6px;
                  }
             .btn:hover{
                        background-color:#e0f2fe;
                       }
          #navbar {
                   display:flex;
                   justify-content:center;
                   text-align:center;
                   gap: 35px;
                   flex-wrap:wrap;
                  }
        #navbar a{ 
                   background-color:blueviolet;
                   text-decoration:none;
                   font-weight:bold;
                   font-size:18px;
                   padding:15px 20px;
                   border-radius:8px;
                 }
                 

                 
 #navbar a:visited{
                   color:palegoldenrod;
                   background-color:purple;
                  } 
 #navbar a:hover{
                 background-color:blueviolet;
                }
           


